* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Muli', sans-serif;
    margin: 0;
    scroll-behavior: smooth;
    background:  #0A0B0F 
}

header {
    background: #0A0B0F;
    padding: 3px 0 3px 20px;
    color: #66FCF0;
    width: 100%;
    font-size: 30px;
    text-align: center;
}

#content-wrapper {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

main {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 4rem;
}

form {
    max-height: 25rem;
}

#form-container {
    width: 50%
}

section {
    display: flex;
    flex-direction: row;
}

section h2 {
    color: #66FCF0;
    text-align: center
}

.wrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
}

article {
    border-radius: 10px;
    margin: 15px 20px;
    background: #0A0B0F;
    border:#C5C7C8 1px solid;
    padding: 20px;
    flex-grow: 1;
    height: fit-content;
}

input {
    background: #202832
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.checkbox {
    margin: 20px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox>label {
    color: #66FCF0;
    font-weight: bold;
    margin-right: 10px;
}

.btn-submit {
    width: fit-content;
    border: none;
    font-family: 'Poppins', sans-serif;
    border-radius: 16px;
    padding: 8px 16px;
    border: 2px solid #66FCF0;
    color: #47A29E;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    
}

.btn-submit:hover {
    background: #66FCF0;
    color: #202832;
}

input[type=text],
input[type=number] {
    border: 1px solid #47A29E;
    padding: 12px;
    border-radius: 10px;
    font-size: 16px;
    color: #47A29E
}

input[type=text],
input[type=number],
.btn-submit:focus {
    outline: none;
}

.item {
    border-radius: 16px;
    margin-top: 10px;
    padding: 12px 24px 12px 24px;
    background: #202832;
    display: flex;
    align-items: center;
}

.item h3 {
    font-size: 18px
}

.item p {
    font-size: 16px;
}

.item h5 {
    font-size: 14px
}

.item h3,
.item h5,
.item p {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #47A29E;
}

.undo-button {
    background: url('../assets/undo-ouline.svg');
    background-size: contain;
    width: 40px;
    height: 40px;
    margin-left: auto;
    cursor: pointer;
    border: none;
}

.undo-button:hover {
    background: url('../assets/undo-ouline.svg');
    background-size: contain;
}


.trash-button {
    background: url('../assets/trash-outline.svg');
    background-size: contain;
    width: 40px;
    height: 40px;
    margin-left: 16px;
    cursor: pointer;
    border: none;
}

.trash-button:hover {
    background: url('../assets/trash-fill.svg');
    background-size: contain;
}

.check-button {
    background: url('../assets/check-outline.svg');
    background-size: contain;
    width: 40px;
    height: 40px;
    margin-left: auto;
    cursor: pointer;
    border: none;
}

.check-button:hover {
    background: url('../assets/check-solid.svg');
    background-size: contain;
}


.check-button:focus,
.trash-button {
    outline: none;
}

.btn-container {
    display: flex;
    justify-content:center
}

@media screen and (max-width: 767px) {
    section {
        display: flex;
        flex-direction: column;
    }
    .wrapper {
        margin-top: 30px;
    }

    #content-wrapper {
        padding: 0
    }
}