* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body,
input,
button {
   font-family: "Raleway", sans-serif;
}

input,
button {
   font-size: 16px;
}

.head_bar {
   padding: 12px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #2757cc;
   color: white;
}

.head_bar__title {
   font-weight: normal;
   font-size: 40px;
}

main {
   max-width: 800px;
   width: 80%;
   margin: 0 auto;
   padding: 16px;
}

.input_section {
   display: flex;
   flex-direction: column;
   padding: 16px;
   background: #f8f9fa;
   box-shadow: -3px 4px 20px -2px rgba(189, 189, 189, 0.57);
   border-radius: 10px;
}

.input_section > p {
   text-align: center;
   font-size: x-large;
}

.input_section > form > .input {
   margin: 8px 0;
}

.input-form {
   background: #eef5fe;
   height: 50px;
   border: solid 1px #2757cc;
}

.input-form:hover {
   background: #eef5fe;
   height: 50px;
   border: solid 1px #3d02df;
}

.input-form:focus {
   background: #eef5fe;
   height: 50px;
   border: solid 1px #3d02df;
}

.input_section > form > button {
   background-color: white;
   color: #2757cc;
   border: solid 1px #2757cc;
   border-radius: 5px;
   display: block;
   width: 100%;
   padding: 20px;
   cursor: pointer;
   font-size: large;
}

#bookSubmit:hover {
   background-color: #2757cc;
   color: white;
}

.input_section > form > button > span {
   font-weight: bold;
}

.input_section > form > .input > input {
   display: block;
   width: 100%;
   padding: 8px;
   border-radius: 5px;
}

.input_section > form > .input_inline {
   margin: 12px 0;
   display: flex;
   align-items: center;
}

.input_section > form > .input_inline > label {
   margin-right: 10px;
}

.search_section {
   margin: 16px 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 16px;
   background: #f8f9fa;
   box-shadow: -3px 4px 20px -2px rgba(189, 189, 189, 0.57);
   border-radius: 10px;
}

.search_section > h2 {
   font-weight: normal;
}

.search_section > form {
   padding: 16px;
   width: 100%;
   display: grid;
   grid-template-columns: auto 1fr 0.5fr;
   grid-gap: 10px;
}

.search_section > form > label {
   display: flex;
   align-items: center;
}

.search_section > form > input {
   padding: 5px;
   border-radius: 5px;
}

.search_section > form > button {
   background-color: white;
   color: #2757cc;
   border: solid 1px #2757cc;
   border-radius: 5px;
   cursor: pointer;
   padding: 10px;
}

#searchSubmit:hover {
   background-color: #2757cc;
   color: white;
   border: 0;
   border-radius: 5px;
   cursor: pointer;
}

#searchBookTitle {
   background: #eef5fe;
   height: 50px;
   border: solid 1px #2757cc;
}

.book_shelf {
   margin: 16px 0 0 0;
   background: #f8f9fa;
   box-shadow: -3px 4px 20px -2px rgba(189, 189, 189, 0.57);

   padding: 16px;
   border-radius: 10px;
}

.book_shelf > h2 {
   font-weight: normal;
}

.book_shelf > .incomplete_book_list,
.complete_book_list {
   padding: 16px;
}

.book_shelf > .incomplete_book_list,
.complete_book_list > .book_item {
   padding: 8px 16px 16px 16px;
   background: #f8f9fa;
   box-shadow: -3px 4px 20px -2px rgba(189, 189, 189, 0.57);
   border-radius: 5px;
   margin: 10px 0;
}

.book_shelf > .incomplete_book_list,
.complete_book_list > .book_item > h3,
p {
   margin: 8px 0;
}

.book_shelf > .complete_book_list,
.incomplete_book_list > .book_item > button {
   padding: 10px;
   margin: 0 5px 0 0;
   border-radius: 5px;
   cursor: pointer;
}

.green {
   background-color: white;
   color: darkgreen;
   border: solid 1px darkgreen;
}

.green:hover {
   background-color: darkgreen;
   color: white;
}

.red {
   background-color: white;
   color: darkred;
   border: solid 1px darkred;
}

.red:hover {
   background-color: darkred;
   color: white;
}
